@font-face {
    font-family: 'Comic Sans';
    src: url('../fahdrahali.github.io/fonts/comic.ttf');
}

body {
    width: 43%;
    margin: auto;
    color: rgb(75, 71, 71);
    font-size: 1.14em;
}

body p,
li {
    line-height: 1.5em;
}

footer {
    padding-bottom: 5%;
}

h2 {
    color: rgb(4, 66, 45);
}

h1 {
    padding-top: 3%;
    color: rgb(102, 17, 172);
}

img {
    margin-left: 21.5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

button {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%;
    font-size: 1em;
}
